.squad {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    width: 500px;
}

.leaders {
    width: 400px;
}
.leaders li {
    width: 100%;
}

.squad ol, 
.squad ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
}

.squad li {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* width: 400px; */
    /* width: 100%; */
}

.squad li p {
    min-width: 50px;
}

.guardian {
    height: 46px;
    margin: 4px;
}

div.guardian {
    display: flex;
    /* width: 400px; */
}

div.guardian input {
    flex: 1;
    padding: 10px;
    font-size: 12pt;
}

.veapon {
    margin-left: 10px;
}

.leaders > li > p,
.post > li > p {
    flex: 1;
}

.post {
    border-bottom: solid 1px gray;
    padding: 5px;
}
.post:last-of-type {
    border-bottom: none;
}

.drag_img img {
    max-height: 20px;
    max-width: 20px;
}

.guardian.guardian_dragging * {
    display: none;
}