#options {
    position: absolute;
    max-width: 50%;
    right: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 5px;
}

#options label {
    margin: 0;
}

.load-data {
    display: flex;
    gap: 10px;
    align-items: flex-start;
}

.load-data label {
    text-align: left;
}