.save-dialog {
    padding: 15px;
    background-color: white;
    display: flex;
    flex-direction: column;
    max-width: 35%;
    border-radius: 5px;
    box-shadow: 0 0 10px 2px #37373759;
}

.save-dialog p {
    text-align: left;
}

.save-dialog .buttons {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.save-dialog .buttons button {
    padding: 5px 15px;
}